<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" type="image/png" href="{{url_for('static', filename='img/icon.png')}}"/>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-CuOF+2SnTUfTwSZjCXf01h7uYhfOBuxIhGKPbfEJ3+FqH/s6cIFN9bGr1HmAg4fQ" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css"/>

	<!-- Animate on scroll -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	
	<title>Challenge Multimedia</title>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light py-1">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
				</ul>
				<form class="d-flex needs-validation" action="/login" method="GET">
					<button class="btn btn-primary align-items-center justify-content-center d-flex" id="botonEntrar" type="submit">
						Entrar<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open-fill ml-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
						</svg>
					</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row justify-content-center pb-5 mb-5">
			<div class="col-xxl-5 col-xl-7 col-lg-8 col-sm-12 col-xs-12">
				<div id="carouselCaptions" class="carousel slide w-100" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
						<li data-target="#carouselCaptions" data-slide-to="1"></li>
						<li data-target="#carouselCaptions" data-slide-to="2"></li>
						<li data-target="#carouselCaptions" data-slide-to="3"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active img-fluid">
							<img src="{{url_for('static', filename='img/meeting-carousel-2.png')}}" class="d-block w-100" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<h5>Sala de reuniones</h5>
								<p>Disfruta de comunicaciones en tiempo real para hasta 6 participantes.</p>
							</div>
						</div>
						<div class="carousel-item img-fluid">
							<img src="{{url_for('static', filename='img/video-call-carousel-2.png')}}" class="d-block w-100" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<h5>Video llamadas</h5>
								<p>Llamadas de video con tus contactos favoritos.</p>
							</div>
						</div>
						<div class="carousel-item img-fluid">
							<img src="{{url_for('static', filename='img/call-carousel-2.png')}}" class="d-block w-100" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<h5>Llamadas de voz</h5>
								<p>Llamadas de voz.</p>
							</div>
						</div>
						<div class="carousel-item img-fluid">
							<img src="{{url_for('static', filename='img/message-carousel-2.png')}}" class="d-block w-100" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<h5>Mensajería</h5>
								<p>Sala de chat incorporada en las reuniones.</p>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Anterior</span>
					</a>
					<a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Siguiente</span>
					</a>
				</div>
			</div>
			
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-evenly">
			<div class="col-xl-3 text-center mb-3" data-aos="fade-right">
				<img src="{{url_for('static', filename='img/meeting-big-2.png')}}" class="img-fluid">
			</div>
			<div class="col-xl-3 text-center mb-3" data-aos="fade-left">
				<img src="{{url_for('static', filename='img/video-call-big-2.png')}}" class="img-fluid">
			</div>
		</div>
		<div class="row justify-content-evenly">
			<div class="col-xl-3 text-center" data-aos="fade-right">
				<h5>Comunicaciones interactivas</h5>
				<p>Disfruta de comunicaciones en tiempo real con tus amigos y familiares</p>
			</div>
			<div class="col-xl-3 text-center" data-aos="fade-left">
				<h5>Video llamadas</h5>
				<p>Video llamadas para comunicarse con sus contactos</p>
			</div>
		</div>
		<div class="row justify-content-evenly">
			<div class="col-xl-3 text-center mt-4 mb-3" data-aos="fade-right">
				<img src="{{url_for('static', filename='img/call-big-2.png')}}" class="img-fluid">
			</div>
			<div class="col-xl-3 text-center mt-4 mb-3" data-aos="fade-left">
				<img src="{{url_for('static', filename='img/message-big-2.png')}}" class="img-fluid">
			</div>
		</div>
		<div class="row justify-content-evenly">
			<div class="col-xl-3 text-center" data-aos="fade-right">
				<h5>Llamadas de voz</h5>
				<p>Comunicación por voz disponible para participantes sin cámara</p>
			</div>
			<div class="col-xl-3 text-center" data-aos="fade-left">
				<h5>Mensajería</h5>
				<p>Mensajería incorporada en las salas de reuniones</p>
			</div>
		</div>
		<footer class="footer mt-auto py-3">
			<div class="container-fluid">
				<div class="row mt-5 footer text-muted" id="creditos">
					<div class="col-xl-12 col-md-12"> <br>
						<hr>
					</div>
					<div class="col-xl-6 col-md-6 text-left">
						<h6>Asignatura</h6>
						<p class="small">Comunicaciones Multimedia</p>
					</div>
					<div class="col-xl-6 col-md-6 text-right">
						<h6>Hecho por</h6>
						<ul class="list-unstyled small">
							<li>Daniil Panasik</li>
							<li>Juan Quer Martínez</li>
							<li>Cayetano Valero Amores</li>
							<li>© 2020</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-t6I8D5dJmMXjCsRLhSzCltuhNZg6P10kE0m0nAncLUjH6GeYLhRU1zfLoW3QNQDF" crossorigin="anonymous"></script>

		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
			AOS.init();
		</script>
	</script>
</body>
</html>