<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" type="image/png" href="{{url_for('static', filename='img/icon.png')}}"/>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-CuOF+2SnTUfTwSZjCXf01h7uYhfOBuxIhGKPbfEJ3+FqH/s6cIFN9bGr1HmAg4fQ" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css"/>
	
	<title>Challenge Multimedia</title>
	<style type="text/css">
		.footer {
			position: relative;
			width: 100%;
			bottom: 0;
			left: 0;
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light py-1">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
	<div class="container mt-2 pt-2 mb-5 pb-5">
		<div class="row">
			<div class="col-xl-6">
				<form class="needs-validation" action="/home" method="POST">
					<div class="mb-3">
						<label for="nombreUsuario" class="form-label">Nombre de usuario</label>
						<input type="text" id="nombreUsuario" class="form-control mr-2" placeholder="Introduzca su nombre" aria-label="Nombre" required>
						<div id="usernameHelp" class="form-text">Tus contactos podrán comunicarse contigo con el nombre que indiques.</div>
					</div>
					<div class="mb-3">
						<label for="IPServidor" class="form-label">Dirección del servidor</label>
						<input type="text" id="IPServidor" class="form-control mr-2" placeholder="Introduzca la dirección del servidor" aria-label="IP" required>
						<div id="IPHelp" class="form-text">Esta dirección permitirá localizar el servidor con el que se realizarán las comunicaciones</div>
					</div>
					<button type="submit" id="botonEntrar" class="btn btn-primary" >Iniciar sesión</button>
				</form>
			</div>
		</div>
		
	</div>

	<div class="container mt-5 pt-5">
		<div class="row row-cols-2">
			<div class="col text-center mb-2">
				<img src="{{url_for('static', filename='img/meeting-big-2.png')}}" class="mx-auto" width="20%">
			</div>
			<div class="col text-center mb-2">
				<img src="{{url_for('static', filename='img/video-call-big-2.png')}}" width="20%">
			</div>
			<div class="col text-center">
				<h6>Comunicaciones interactivas</h6>
				<p class="small">Disfruta de comunicaciones en tiempo real con tus amigos y familiares</p>
			</div>
			<div class="col text-center">
				<h6>Video llamadas</h6>
				<p class="small">Video llamadas para comunicarse con sus contactos</p>
			</div>
			<div class="col text-center mt-4">
				<img src="{{url_for('static', filename='img/call-big-2.png')}}" class="mx-auto" width="20%">
			</div>
			<div class="col text-center mt-4">
				<img src="{{url_for('static', filename='img/message-big-2.png')}}" class="mx-auto" width="20%">
			</div>
			<div class="col text-center">
				<h6>Llamadas de voz</h6>
				<p class="small">Comunicación por voz disponible para participantes sin cámara</p>
			</div>
			<div class="col text-center">
				<h6>Mensajería</h6>
				<p class="small">Mensajería incorporada en las salas de reuniones</p>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row mt-5 footer text-muted" id="creditos">
				<div class="col-xl-12 col-md-12"> <br>
					<hr>
				</div>
				<div class="col-xl-6 col-md-6 text-left">
					<h6>Asignatura</h6>
					<p class="small">Comunicaciones Multimedia</p>
				</div>
				<div class="col-xl-6 col-md-6 text-right">
					<h6>Hecho por</h6>
					<ul class="list-unstyled small">
						<li>Daniil Panasik</li>
						<li>Juan Quer Martínez</li>
						<li>Cayetano Valero Amores</li>
						<li>© 2020</li>
					</ul>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-t6I8D5dJmMXjCsRLhSzCltuhNZg6P10kE0m0nAncLUjH6GeYLhRU1zfLoW3QNQDF" crossorigin="anonymous"></script>
		<script type="text/javascript">
			document.getElementById('botonEntrar').onclick = function() {
				var nombreUsuario = document.getElementById('nombreUsuario').value;
				var IPServidor = document.getElementById('IPServidor').value;
				document.cookie = 'usuar=' + nombreUsuario;
				document.cookie = 'IP=' + IPServidor;
			};
		</script>
	</body>
	</html>